main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main form {
  margin-top: 50px;
  width: 1080px;
  text-align: center;
  border: solid 3px #cfbfae;
  padding: 50px 0;
  background-color: #2E7DFF;
  font-weight: bold;
  font-family: 'Avenir-light';
}

main form h1 {
  text-align: center;
  font-size: 70px;
  font-family: "Pacifico", cursive;
  margin-bottom: 20px;
}

main form div {
  margin: 50px 0px 50px;
}

main form div label {
  font-size: 20px;
}

main form div input[type=text] {
  margin-left: 10px;
  padding: 7px 10px;
  border-radius: 50px;
  border: 1px solid black;
}

main form div input[type=text]:focus {
  border-color: #f5b16cd6;
  color: #f5b16c;
}

main form button {
  padding: 8px 21px;
  background-color: #f5b16cd6;
  border: none;
}

main form button:hover {
  background-color: #F5B16C;
}
