body{
    background-color: rgb(0, 0, 0);
}
main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    section#panel{
        text-align: center;
        border: solid 10px rgb(241, 163, 90);
        background-color: rgb(0, 0, 0);
        border-radius: 20px;
        padding: 50px 10px;
        h2{
            font-size: 50px;
            color: rgb(241, 163, 90);
        }
        form{
            div{
                label{
                    color: rgb(241, 163, 90);
                }
                input{
                    background-color: rgb(241, 163, 90);
                    border-radius: 20px;
                    padding: 4px 10px;
                    border: none;
                    
                }
            }
            input[type=submit]{
                padding: 5px 10px;
                margin-top: 10px;
                border: none;
                &:hover{
                    background-color: rgb(241, 156, 76);
                }
            }
        }
    }
}
@media(max-width:767px){
    main{
        section#panel{
            width: 80vw;
        }
    }
}