/* police titre/sous titre */
@font-face {
    font-family: 'Avenir-heavy';
    src: url('/font/AvenirLTStd-Heavy.woff2') format('woff2'),
        url('/font/AvenirLTStd-Heavy.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* police general */
@font-face {
    font-family: 'Avenir-light';
    src: url('/font/AvenirLTStd-Light.woff2') format('woff2'),
        url('/font/AvenirLTStd-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    transition: all .2s ease 0s;
    /* Visualisation des éléments */
    /*border: 1px dotted rgba(0,0,0,0.3);*/
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

*:hover {
    transition: all .2s ease 0s;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    height: 100%;
    line-height: 1.6;
    background-image: linear-gradient(rgba(0, 0, 0, 0.584), rgba(0, 0, 0, 0.536)), url(/img/back.jpg);
    background-size: cover;
}

a, a:hover, a:visited, a:active {
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

.container {
    margin: 0 auto;
}


.flex{
    display: flex;
}

