@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
.none {
  display: none;
}

main {
  padding-top: 100px;
}

main section#title {
  width: 1080px;
  text-align: center;
  border: solid 10px black;
  padding: 20px 0;
  background-color: #f1e9cc;
}

main section#title h1 {
  font-size: 70px;
  font-family: "Pacifico", cursive;
  margin-bottom: 20px;
}

main section#title p {
  font-size: 25px;
  font-family: "Courgette", cursive;
}

main section#form {
  margin-top: 50px;
  width: 1080px;
  text-align: center;
  border: solid 10px black;
  padding: 50px 0;
  background-color: #f1e9cc;
}

main section#form form article {
  max-width: 900px;
  margin: 0 auto 30px;
}

main section#form form article div {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

main section#form form article div input {
  margin: 0 10px;
}

main section#form form article#team2 div div,
main section#form form article#team3 div div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

@media (max-width: 767px) {
  main section#title {
    padding: 20px;
  }
  main section#title h1 {
    font-size: 30px;
  }
  main section#title p {
    font-size: 20px;
  }
  main section#form form article {
    width: 60vw;
  }
  main section#form form article div {
    flex-direction: column;
    align-items: center;
  }
  main section#form form article.select {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main section#form, main section#title {
    max-width: 80vw;
  }
}

@media (min-width: 768px) {
  main section#form form article {
    width: 60vw;
  }
  main section#form, main section#title {
    max-width: 70vw;
  }
  main section article#team2,
  main section article#team3 {
    margin: 0 auto;
  }
  main section article#team2 div.center,
  main section article#team3 div.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
