@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
.none {
  display: none;
}

body main section#title {
  margin-top: 50px;
  width: 1080px;
  text-align: center;
  border: solid 10px black;
  padding: 20px 0;
  background-color: #f1e9cc;
}

body main section#title h1 {
  font-size: 70px;
  font-family: "Pacifico", cursive;
  margin-bottom: 20px;
}

body main section#title p {
  font-size: 25px;
  font-family: "Courgette", cursive;
}

body main section#form {
  margin-top: 50px;
  width: 1080px;
  text-align: center;
  border: solid 10px black;
  padding: 50px 0;
  background-color: #f1e9cc;
}

body main section#form form article {
  width: 900px;
  margin: 0 auto 30px;
}

body main section#form form article div {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

body main section#form form article div input {
  margin: 0 10px;
}

body main section#form form article#team2 div div, body main section#form form article#team3 div div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
