@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@font-face {
    font-family: "BrighlyCrush-Shine";

    src: url("./fonts/BrightlyCrushShine.woff") format("woff"), /* Modern Browsers */
      url("./fonts/BrightlyCrushShine.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
.none {
    display: none;
}

.btn-play{
    padding: 8px 21px;
    background-color: #f5b16cd6;
    border: none;

    &:hover{
        background-color: #F5B16C;
    }
}

select{
    background-color: #2E7DFF;
    color: #F5B16C;
    border: none;
    text-align: center;
    margin-left: 1em;
}

main {
    padding-top: 100px;
    section#title {
        width: 1080px;
        text-align: center;
        border: solid 3px#F5B16C;
        padding: 20px 0;
        background-color:#2E7DFF;
        h1 {
            font-size: 70px;
            // font-family: "Pacifico", cursive;
            font-family: "BrighlyCrush-Shine";
            margin-bottom: 20px;
            color: #F5B16C;
        }
        p {
            font-size: 25px;
            font-weight: bold;
            font-family: 'Avenir-heavy';
        }
    }
    section#form {
        margin-top: 50px;
        width: 1080px;
        text-align: center;
        border: solid 3px#cfbfae;
        padding: 50px 0;
        background-color: #2E7DFF;
        font-weight: bold;
        font-family: 'Avenir-light';
        form {
            article {
                max-width: 900px;
                margin: 0 auto 30px;
                div {
                    display: flex;
                    justify-content: center;
                    align-items: baseline;
                    input {
                        margin: 0 10px;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    main {
        section {
            &#title {
                padding: 20px;
                h1 {
                    font-size: 30px;
                }
                p {
                    font-size: 20px;
                }
            }
            &#form {
                form {
                    article {
                        width: 60vw;
                        div {
                            flex-direction: column;
                            align-items: center;
                        }
                        &.select {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                        }
                    }
                }
            }
            &#form,
            &#title {
                max-width: 80vw;
            }
        }
    }
}
@media (min-width: 768px) {
    main {
        section {
            &#form {
                form {
                    article {
                        width: 60vw;
                    }
                }
            }
            &#form,
            &#title {
                max-width: 70vw;
            }
        }
    }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
