.flex {
    display: flex;
}

header {
    nav {
        .etc {
            height: 26px;
            width: auto;
            margin-left: 110px;
            margin-top: 32px;
            display: none;
            position: absolute;
        }
        div {
            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                a {
                    display: flex;
                    height: 90px;
                    width: 90px;
                    border-radius: 100px;
                    background-color: rgba(46, 126, 255, 0.708);

                    div {
                        display: flex;
                        align-items: center;
                        height: 100%;
                        width: 100%;
                        justify-content: center;

                        img {
                            height: 40px;
                            width: auto;
                        }
                    }
                    &:hover {
                        background-color:rgb(46, 125, 255);
                        transition: all 0.4s;
                        
                    }
                }
                &:hover {
                    .etc {
                        display: block;
                    }
                }
            }
        }
    }
}
@media (max-width: 767px) {
    header {
        nav {
            display: flex;
            justify-content: space-around;
            margin-top: 20px;
            div {
                div.object{
                    display: none;
                    position: fixed;
                    top: 110px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 10px 10px 10px;
                    border-color: transparent transparent #2E7DFF transparent;
                }
                p {
                    display: none;
                    position: fixed;
                    top: 115px;
                    padding: 0 5px;
                    background-color: rgb(219, 219, 219);
                    border: solid 1px #2E7DFF;
                }
                &:hover {
                    .etc {
                        display: none;
                    }
                    p , div.object{
                        display: block;
                    }
                }
            }
        }
    }
}
@media (min-width: 768px) {
    header {
        nav {
            display: flex;
            justify-content: space-around;
            margin-top: 20px;
            div {
                div.object{
                    display: none;
                    position: fixed;
                    top: 110px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 10px 10px 10px;
                    border-color: transparent transparent #007bff transparent;
                }
                p {
                    display: none;
                    position: fixed;
                    top: 115px;
                    padding: 0 5px;
                    background-color: rgb(219, 219, 219);
                    border: solid 1px blue;
                }
                &:hover {
                    .etc {
                        display: none;
                    }
                    p , div.object{
                        display: block;
                    }
                }
            }
        }
    }
}
@media (min-width: 992px) {
    header {
        width: 150px;
        height: 100vh;
        position: fixed;
        nav {
            display: flex;
            margin-left: 3.5em;
            justify-content: space-around;
            flex-direction: column;
            height: 100%;
            div:hover {
                .etc {
                    display: block;
                }
                div.object, p {
                    display: none;
                }

            }
        }
    }
}
