header {
  width: 150px;
  height: 100vh;
}

header nav {
  display: flex;
  margin-left: 2em;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
}

header nav a {
  display: flex;
  height: 90px;
  width: 90px;
  border-radius: 100px;
  background-image: url(/img/fond.jpg);
}

header nav a div {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
}

header nav a img {
  height: 40px;
  width: auto;
}

header nav a:hover {
  background-image: linear-gradient(rgba(255, 255, 255, 0.153), rgba(255, 255, 255, 0.153)), url(/img/fond.jpg);
  transition: all 0.9s;
}

header nav a:hover:not(:hover) {
  transition: 1s;
}
