@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
body {
  background-size: contain;
}

main h1 {
  text-align: center;
  font-size: 70px;
  font-family: "Pacifico", cursive;
  margin: 20px 0px 20px;
  color: white;
}

main form {
  text-align: center;
}

main form button {
  background-color: #d8d8d8;
  box-shadow: 5px 5px 5px black;
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
}

main form button:hover {
  background-color: #2E7DFF;
  color: honeydew;
}

main div {
  text-align: center;
  width: 70vw;
  margin: 50px auto 0;
}

main div table {
  border: solid 5px #2E7DFF;
}

main div table thead {
  max-width: 1070px;
  background-color: #2E7DFF;
  color: white;
}

main div table tbody {
  max-width: 70vw;
  color: white;
}

main div table tbody tr:hover td {
  background-color: #639dfa;
}

main div table tbody tr:nth-child(2n + 0) {
  background-color: #f5b16cb9;
}
