.hide{
    display:none;
}

.flex{
    display: flex;
}


.cards{
    flex-wrap: wrap;
    width: 100%;
    .card{
        width: 55vw;
    }

}
@media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}