.hide {
  display: none;
}

main div {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

main div div {
  flex-direction: column;
}

main div div p {
  display: flex;
  font-family: 'Avenir-heavy';
  color: white;
  font-size: 20px;
}

main div div .p2 {
  position: absolute;
  height: 250px;
  width: auto;
  left: 389px;
  top: 383px;
}

main div div .p1 {
  position: absolute;
  height: 350px;
  width: auto;
  left: 672px;
  top: 283px;
}

main div div .p3 {
  position: absolute;
  height: 200px;
  width: auto;
  left: 960px;
  top: 433px;
}
