.hide {
  display: none;
}

main .big-container {
  display: flex;
  flex-direction: column;
}

main .container1 {
  display: flex;
  flex-direction: row;
  width: 50vw;
  justify-content: space-around;
  margin-top: 200px;
  height: 100px;
}

main .container2 {
  display: flex;
  flex-direction: row;
  width: 100vw;
  margin-top: -290px;
  padding-top: -100px;
}

main .container2 img {
  height: 300px;
}

main div {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

main div div {
  flex-direction: column;
}

main div div p {
  display: flex;
  font-family: 'Avenir-heavy';
  color: white;
  font-size: 20px;
}
