h1{
    font-family: 'Avenir-heavy';
    color: white;
}
main{
    width: 100vw;
    display: flex;
    align-items: center;
    section{
        margin-top: 50px;
        text-align: center;
        article{
            text-align: center;
            display: flex;
            justify-content: center;
            p{
                color: white;
                font-family: 'Avenir-light';
            }
            ul{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                li{
                    padding: 20px ;
                    img{
                        width: 100px;
                        height: 100px;
                        margin-bottom: 20px;
                    }
                    p{
                        margin-top: 0;
                        color: white;
                        font-family: 'Avenir-heavy';
                    }
                }
            }
            .littleMore{
                margin-top: 30px;
                width: 70%;
            }
        }
        article.row{
            margin: 0;
            max-width: 100vw;
        }
        article.after{
            margin-top: 35px;
            flex-direction: column;
            align-items: center;
            a{
                padding: 7px 10px;
                border: 1px solid #F5B16C;
                border-radius: 50px;
                margin-top: 5px;
                color: #F5B16C;
            }
            a:hover{
                background-color: #2E7DFF;
                color: #F5B16C;
                border: none;
            }
        }
    }
}