section{
    margin-top: 50px;
    text-align: center;
    article{
        text-align: center;
        display: flex;
        justify-content: center;
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            li{
                padding: 20px ;
                img{
                    width: 100px;
                    height: 100px;
                    margin-bottom: 20px;
                }
                p{
                    margin-top: 0;
                }
            }
        }
        .littleMore{
            margin-top: 30px;
            width: 70%;
        }
    }
    article.row{
        margin: 0;
        max-width: 100vw;
    }
    article.after{
        margin-top: 35px;
        flex-direction: column;
        align-items: center;
        a{
            padding: 7px 10px;
            border: 1px solid black;
            border-radius: 50px;
            margin-top: 5px;
        }
        a:hover{
            color: white;
            background-color: lightgray;
            border: none;
        }
    }
}
@media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}