main div.flex{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main{
    display: flex;
    height: 100vh;
    align-items: center;
    section{
        text-align: center;
        h1 {
            font-family: 'Avenir-heavy';
            font-weight: 900;
            letter-spacing: 3px;
            text-align: center;
            color: white;
        }
        h2{
            font-family: 'Avenir-heavy';
            color: white;
        }
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-bottom: 35px;
            h2 {
                text-align: center;
                letter-spacing: 3px;
                margin-bottom: 15px;
            }
            p{
                width: 80%;
                font-family: 'Avenir-light';
                color: white;
            }
        }
        a{
            border: 1px solid #F5B16C;
            color: #F5B16C;
            text-decoration: none;
            padding: 7px 10px;
            border-radius: 50px;
        }
        a:hover{
            background-color: #2E7DFF;
            color: #F5B16C;
            border: none;
        }
    }
}
@media(max-width:767px){
    main{
        section{
            width: 300px;
            div{
                img{
                    width: 320px;
                }
            }
        }
    }
}