main{
    section{
        text-align: center;
        h1 {
            font-family: 'Roboto', sans-serif;
            font-weight: 900;
            letter-spacing: 3px;
            text-align: center;
        }
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-bottom: 35px;
            h2 {
                text-align: center;
                letter-spacing: 3px;
                margin-bottom: 15px;
            }
            p{
                width: 80%;
            }
        }
        a{
            border: 1px solid;
            color: black;
            text-decoration: none;
            padding: 7px 10px;
            border-radius: 50px;
        }
        a:hover{
            background-color: darkgrey;
            color: white;
            border: none;
        }
    }
}
@media(max-width:767px){
    main{
        section{
            width: 300px;
            div{
                img{
                    width: 320px;
                }
            }
        }
    }
}