* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  letter-spacing: 3px;
  text-align: center;
}

.container {
  max-width: 1100px;
  margin: auto;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  height: 100%;
}

main section {
  text-align: center;
}

main section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 35px;
}

main section div h2 {
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 15px;
}

main section div p {
  width: 80%;
}

main section a {
  border: 1px solid;
  color: black;
  text-decoration: none;
  padding: 7px 10px;
  border-radius: 50px;
}

main section a:hover {
  background-color: darkgrey;
  color: white;
  border: none;
}
