.flex {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  height: 100vh;
  align-items: center;
}

main section {
  text-align: center;
}

main section h1 {
  font-family: 'Avenir-heavy';
  font-weight: 900;
  letter-spacing: 3px;
  text-align: center;
  color: white;
}

main section h2 {
  font-family: 'Avenir-heavy';
  color: white;
}

main section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 35px;
}

main section div h2 {
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 15px;
}

main section div p {
  width: 80%;
  font-family: 'Avenir-light';
  color: white;
}

main section a {
  border: 1px solid;
  color: black;
  text-decoration: none;
  padding: 7px 10px;
  border-radius: 50px;
}

main section a:hover {
  background-color: darkgrey;
  color: white;
  border: none;
}

@media (max-width: 767px) {
  main section {
    width: 300px;
  }
  main section div img {
    width: 320px;
  }
}
